<!--The Automated Patriot-->

<% include ../partials/header %>

<div class="row">
  <div class="col-md-12">
    <div class="card mb-3">
      <img class="card-img-top" src="https://i.imgur.com/0cXplAm.jpg" alt="The Automated Patriot">
      <div class="card-body">
        <h5 class="card-title">Recycling Ethernet Cables</h5>
        <hr>
        <p class="card-text">
          
          <p class="text-left">
            Here's a tip on how to recycle a damaged ethernet cable, by stripping out the core 18g wires to use on electronics projects.
            <br>
            
            <br>
          </p>
          
        </p>
        <div class="float-right">
        </div>
      </div>
    </div>
   <!--Comments section-->
  </div>
</div>

<% include ../partials/footer %>