/*set body's bg color to black*/
body {
  background-color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2em;
}

/*Now we need to position the welcome text and view all projects buton:*/
#landing-nav {
  z-index: 1;
  position: relative;
  padding-top: 5vh;
  
}

.nav-item {
  /*color: white;*/
  text-shadow: 1px 1px black; 
}

#carouselFade {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
