<!--TProject Blog Template-->

<% include ../partials/header %>

<div class="row">
  <div class="col-md-12">
    <div class="card mb-3">
      <!--<p class="d-flex justify-content-center">-->
        <div class="video-container">>
        <iframe width="90%" height="90%" src="https://www.youtube.com/embed/Asgdg3nJt58?rel=0&amp;showinfo=0" frameborder="1" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
      <!--</p>-->
      <div class="card-body">
        <h2 class="card-title">The Automated Patriot</h2>
        <hr>
        <p class="card-text">
          <p>
            <h3></h3>
            <em></em>
            
          </p>
          <p class="d-flex justify-content-center">
            TEXTEXTETSETSETRSERS
            <br>
          </p>
          <h3>BOM:</h3>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a href="https://www.aliexpress.com/store/product/Digispark-kickstarter-Micro-development-board-ATTINY85-module-for-Arduino-usb/1022067_32584975067.html">
              Digispark Clones</a>
            </li>
            <li class="list-group-item">
              <a href="https://www.aliexpress.com/store/product/Micro-3-7g-Servo-For-Control-Aeromodelling-Aircraft-Flight-Direction-Helicopter-Model-4-8-To-7/3865090_32871120405.html">
              Micro Servo</a>
            </li>
            <li class="list-group-item">
              <a href="https://www.aliexpress.com/store/product/20pcs-5x7-4x6-3x7-2x8-cm-double-Side-Copper-prototype-pcb-Universal-Board-for-Arduino/1192233_1847727667.html">
              Circuit board 4.5x4.5cm</a>
            </li>
            <li class="list-group-item">
              <a href="https://www.aliexpress.com/store/product/2pcs-lot-8-ohm-3W-3-Watt-Diameter-77MM-3inch-Round-Speaker-45MM-External-Magnetic/1021664_32708750872.html">
              2in 8ohm Speaker</a>
            </li>
            <li class="list-group-item">
              Plastic Enclosure 13.5x7cm
            </li>
            <li class="list-group-item">
              <a href="https://www.aliexpress.com/store/product/10pcs-12MM-self-return-momentary-push-button-switch/2024048_32692164728.html">
              Push On/Off Switch</a>
            </li>
          </ul>
          <br>
          <p class="text-left">
            I had little e
          </p>
          <p class="text-center"><img src="GIPHY.GIF"></p>
          <p class="text-left">
            My electronics bin
          </p>
          <p class="text-left">
            For the 
          </p>
          <p class="text-left">
            Instead of
          </p>
        </p>
        <div class="float-right">
        </div>
      </div>
    </div>
   <!--Comments section-->
  </div>
</div>

<% include ../partials/footer %>