<!--The Automated Patriot-->

<% include ../partials/header %>

<div class="row">
  <div class="col-md-12">
    <div class="card mb-3">
      <!--<p class="d-flex justify-content-center">-->
        <div class="video-container">>
        <iframe width="90%" height="90%" src="https://www.youtube.com/embed/XQf2yGn8rQE?rel=0&amp;showinfo=0" frameborder="1" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
      <!--</p>-->
      <div class="card-body">
        <h2 class="card-title">Recycling Ethernet Cables</h2>
        <hr>
        <p class="card-text">
          <p>
            <h3></h3>
            <em></em>
            
          </p>
          <p class="d-flex justify-content-center">
            Here's a tip on how to recycle a damaged ethernet cable, you can easily strip the outer insulation to reveal 18-20ga wires. These wires are extremely useful for electronics projects and low voltage applications.
          </p>
          <p class="text-left">
            So while installing a network cable when setting up my home network, I had a 50ft flat ethernet cable and a staple gun that was too narrow for this purpose. I knew this would end poorly, but persisted anyways, routing my cable involved piercing the cable about 4-5 times and lots of cursing. A quick test of the cable showed it had caused a failure with my reckless stapling. I swapped the cable for a functional one, and was going to save that flat ethernet cable by cutting it at the wire breaks, and install new RJ-45 connectors to make some patch cables. But I already have a healthy collection of patch cables, but I could always use more electronics wire for projects.  So I decided to keep this cable as my source of 24ga project wire, every few months when my supply runs low I chop off a 4ft section of ethernet to yield about (4 ft * 8 wires =) 32 ft of twisted pairs.
            <br>
          </p>
          <p class="text-center"><img class="img-fluid" src="https://media.giphy.com/media/9DCFpBIHfNkD0W0g8s/giphy-downsized-medium.gif#1-grid1" style="
            width:100%;max-width:700px;" ></p>
          <div class="d-flex justify-content-center">Here you can see ethernet recycled wires on my Keypad conversion project:</div>
            <p class="text-center"><img class="img-fluid" src="https://i.imgur.com/KQM2Tqk.jpg" style="width:100%;max-width:700px;"></p>
            <br>
          <div class="d-flex justify-content-center">All of my USB Controllers use ethernet recycled wire too, it's the perfect application for flexible 24ga wire to use with 5v projects:</div>
          <p class="text-center"> <img class="img-fluid" src="https://i.imgur.com/esepx1c.jpg" style="width:100%;max-width:700px;"> </p>
          

        </p>
        <div class="float-right">
        </div>
      </div>
    </div>
   <!--Comments section-->
  </div>
</div>

<% include ../partials/footer %>