<!--The Automated Patriot-->

<% include ../partials/header %>

<div class="row">
  <div class="col-md-12">
    <div class="card mb-3">
      <!--<p class="d-flex justify-content-center">-->
        <div class="video-container">>
        <iframe width="90%" height="90%" src="https://www.youtube.com/embed/XQf2yGn8rQE?rel=0&amp;showinfo=0" frameborder="1" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
      <!--</p>-->
      <div class="card-body">
        <h2 class="card-title">Recycling Ethernet Cables</h2>
        <hr>
        <p class="card-text">
          <p>
            <h3></h3>
            <em></em>
            
          </p>
          <p class="d-flex justify-content-center">
            Here's a tip on how to recycle a damaged ethernet cable, you can easily strip the outer insulation to reveal 18-20ga wires. These are extremely useful for electronics projects and low voltage applications.
            <br>
          </p>
          <br>
          <p class="text-left">
            So I was installing a network cable when setting up my network, using a staple gun I had accidentally stapled through my cable a few times. Sure enough testing the cable I found there was a connection failure. In this case you can cut off the damaged parts and repalce the RJ-45 connector
            <br>
          </p>
          <p class="text-center"><img src="https://media.giphy.com/media/9DCFpBIHfNkD0W0g8s/giphy-downsized-medium.gif#1-grid1"></p>
          <p class="text-left">
            
          </p>
          <p class="text-left">
            
          </p>
          <p class="text-left">
            
          </p>
        </p>
        <div class="float-right">
        </div>
      </div>
    </div>
   <!--Comments section-->
  </div>
</div>

<% include ../partials/footer %>