<!--TProject Blog Template-->

<% include ../partials/header %>

<div class="row">
  <div class="col-md-12">
    <div class="card mb-3">
      <p class="d-flex justify-content-center">
        <!--<div class="video-container">>-->
        <!--<iframe width="90%" height="90%" src="https://www.youtube.com/embed/Asgdg3nJt58?rel=0&amp;showinfo=0" frameborder="1" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>-->
        <img src="https://res.cloudinary.com/dvryuqlqn/image/upload/v1536811225/renchtech/projects/usb_controllers/20180116_MR_ACC139200.jpg" class="img-fluid" style="width:100%;max-width:700px">
      </p>
      <div class="card-body">
        <h2 class="card-title">USB Controllers</h2>
        <hr>
        <p class="card-text">
          <p>
            <h3></h3>
            <em></em>
            
          </p>
          <p class="d-flex justify-content-center">
            Creating physical interfaces for computers has been an interest of mine, and I've made many USB controllers each designed for specific applications.
            Working as a photographer I first found the need to fire a camera using a simple button. Using a Teensy board, a rotary encoder, and some buttons I put together my first controller, it worked brilliantly by pushing the knob would take a photo, and turning the knob would cycle between images. This quickly became a mainstay on my photo set workstation, but I knew it could be expanded and improved upon so I continued to iterate on the project.
          </p>
          
          <p class="d-flex justify-content-center">
            Soon after the initial design, I was starting to see the potential to use a USB controller for everyday computer tasks and other purposes. Soon I had made various controllers with single knobs, multiple buttons and knobs, and other oddities.  
            </p>
          <p class="d-flex justify-content-center">
            I started to design a controller with 4 buttons and 3 knobs.  The knobs would control audio levels for speakers, headphones, and microphone independently.  The buttons would be shortcuts for Screen capture and streaming actions.
          </p>
          <h3>Link to Code:</h3>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a href="https://github.com/renchsan/USB-Command-Panel-4btns-3knobs">
              Teensy Code USB Controller 4 buttons and 3 knobs</a>
            </li>
          </ul>
          
          <br>
          <p class="text-left">
            
          </p>
          <p class="text-center"><img src="https://res.cloudinary.com/dvryuqlqn/image/upload/v1536811227/renchtech/projects/usb_controllers/USB_3knob_wiring.jpg" class="img-fluid" style="width:100%;max-width:700px"></p>
          <p class="text-left">
            
          </p>
          <p class="text-left">
            
          </p>
          <p class="text-left">
            
          </p>
        </p>
        <div class="float-right">
        </div>
      </div>
    </div>
   <!--Comments section-->
  </div>
</div>

<% include ../partials/footer %>