<!--TProject Blog Template-->

<% include ../partials/header %>

<div class="row">
  <div class="col-md-12">
    <div class="card text-center mb-3">
      <p class="d-flex justify-content-center">
        <!--<div class="video-container">>-->
        <!--<iframe width="90%" height="90%" src="https://www.youtube.com/embed/Asgdg3nJt58?rel=0&amp;showinfo=0" frameborder="1" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>-->
      <div class="card-body text-center">
        <h1 class="card-title">USB Controllers</h1>
        <br>
        <img src="https://res.cloudinary.com/dvryuqlqn/image/upload/v1547863730/renchtech/projects/usb_controllers/usbControllers-11.jpg" class="img-fluid" style="width:100%;max-width:700px">  
        <p class="card-text">
          
          <p class="d-flex justify-content-center">
            Creating physical interfaces for computers has been an interest of mine, and I've made many USB controllers each designed for specific applications.
            Working as a photographer I first found the need to fire a camera using a simple button. Using a Teensy board, a rotary encoder, and some buttons I put together my first controller, it worked brilliantly by pushing the knob would take a photo, and turning the knob would cycle between images. This quickly became a mainstay on my photo set workstation, but I knew it could be expanded and improved upon so I continued to iterate on the project.
          </p>
          
          <p class="d-flex justify-content-center">
            Soon after the initial design, I was starting to see the potential to use a USB controller for everyday computer tasks and other purposes. Soon I had made various controllers with single knobs, multiple buttons and knobs, and other oddities.
            <br><br>
          </p>
          <img src="https://res.cloudinary.com/dvryuqlqn/image/upload/v1547863728/renchtech/projects/usb_controllers/usbControllers-5.jpg" class="img-fluid" style="
            width:100%;max-width:700px;">
          <p class="d-flex justify-content-center">
            I started to design a controller made from a standard size plastic enclosure.    The buttons would be shortcuts for Screen capture and streaming actions. This enclosure worked very well, was easy to build with, and the USB jack integrated very well into it.
          </p>
          <img src="https://res.cloudinary.com/dvryuqlqn/image/upload/v1547863730/renchtech/projects/usb_controllers/usbControllers-6.jpg" class="img-fluid" style="width:100%;max-width:700px">
          <br>
          <img src="https://res.cloudinary.com/dvryuqlqn/image/upload/v1547863730/renchtech/projects/usb_controllers/usbControllers-7.jpg" class="img-fluid" style="width:100%;max-width:700px">
          
          <br>
          <p class="text-center">
            
            Then I added an additional rotary encoder and knob, at this worked out to be the best layout. Also, for functionality purposes I wanted to control more audio devices, and keep the buttons used for screen capture and Discord mute. The 3 knobs could control audio levels for speakers, headphones, and microphone independently, the knob presses would mute the respective audio device. This became a staple of my workstation and is still what I use at my computer daily.
            <br>            
            <img src="https://res.cloudinary.com/dvryuqlqn/image/upload/v1547864608/renchtech/projects/usb_controllers/usbControllers-1-3.jpg" class="img-fluid" style="width:100%;max-width:700px">
            <br>
            <img src="https://res.cloudinary.com/dvryuqlqn/image/upload/v1547863731/renchtech/projects/usb_controllers/usbControllers-10.jpg" class="img-fluid" style="width:100%;max-width:700px">
            <br>
            <img src="https://res.cloudinary.com/dvryuqlqn/image/upload/v1536811227/renchtech/projects/usb_controllers/USB_3knob_wiring.jpg" class="img-fluid" style="wid
            th:100%;max-width:700px">
          </p>
          
          <h4>Link to Code:</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              
              <a href="https://github.com/renchtech/USB-Command-Panel-4btns-3knob" class="btn btn-primary btn-sm">Github Link</a>
            </li>
          </ul>
        </div>
        <div class="float-right">
        </div>
        </p>
      </div>
    </div>
   <!--Comments section-->
  </div>
</div>

<% include ../partials/footer %>